<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/home">
      <i class="fas fa-code me-2"></i>
      DevQ&A
    </a>

    <div class="navbar-nav ms-auto d-flex flex-row">
      <qa-search class="me-3"></qa-search>
      <a class="btn btn-outline-light me-2" routerLink="/home">
        <i class="fas fa-home"></i> Home
      </a>
      <a class="btn btn-warning" routerLink="/ask">
        <i class="fas fa-plus"></i> Ask Question
      </a>
    </div>
  </div>
</nav>
